################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns/.vs/DesignPatterns/v15
*.cache
/DesignPatterns/Patterns/Singleton/DesignPatterns.Patterns.BasicSingleton/obj/Debug
/DesignPatterns/Patterns/Singleton/DesignPatterns.Patterns.Singleton.Config/obj/Debug
**/obj/Debug
/DesignPatterns/Patterns/Singleton/DesignPatterns.Patterns.Singleton.Config/bin/Debug
/DesignPatterns/Patterns/Singleton/DesignPatterns.Patterns.BasicSingleton/bin/Debug
/DesignPatterns/Patterns/Prototype/DesignPatterns.Patterns.Prototype/bin/Debug
/DesignPatterns/Patterns/FactoryMethod/DesignPatterns.Patterns.FactoryMethod/bin/Debug
/DesignPatterns/Patterns/Builder/DesignPatterns.Patterns.Builder/bin/Debug
/DesignPatterns/Patterns/Adapter/DesignPatterns.Patterns.Adapter/bin/Debug
/DesignPatterns/Patterns/Bridge/DesignPatterns.Patterns.Bridge/bin/Debug
/DesignPatterns/Patterns/Bridge/DesignPatterns.Patterns.Bridge_2/bin/Debug
/DesignPatterns/.vs/DesignPatterns
**/bin/Debug